.env
env
venv
temp
tmp
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations
### https://raw.github.com/github/gitignore/af988f5c1ed081c88e1d4d33945bb2f14d9a9d4e/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


